/* 

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 1



--- 02 COLORS

Primary: 
Main Background Color: #F5EFEF
Text color 1: #C9191F

Tints:
Shades: 
Greys:

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --clr-background: #f5efef;
  --clr-text-red: #c9191f;
  --clr-text-red-lighter: #cfb7b8;
  --clr-text-red-hover: #d48285;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--clr-text-red);
  background-color: var(--clr-background);
}

.container {
  max-width: 84rem;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

.header-logo {
  /* background-color: blueviolet; */
  width: 100%;
  padding: 8rem;
}

.navigation {
  font-size: 2.7rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  /* flex-grow: 0; */
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.navigation p {
  color: var(--clr-text-red-lighter);
  font-size: 1em;
  font-weight: 200;
}

.navigation-link:link,
.navigation-link:visited {
  color: var(--clr-text-red);
}

.navigation-link:hover,
.navigation-link:active {
  color: var(--clr-text-red-hover);
}

.link-about_us {
  font-weight: 700;
}

.link-order {
  font-weight: 300;
}

.text-main {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 2.2rem;
}

/* section-description */

.description-content {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 200;
  color: var(--clr-text-red);
  padding-bottom: 12rem;
}

/* ---- ORDER PAGE ---- */

/* 
.order-info-layout {
  display: flex;
}

.order-info-logo-box {
  display: flex;
  background-color: orange;
  flex-grow: 0;

}

.order-info-logo {
  width: 30rem;
  padding: 4rem;

}

.order-info-description-box {
  display: flex;
  flex-grow: 1;
  background-color: rgb(197, 142, 197);
  flex-direction: column;
  justify-content: center;

}

.delivery-date-box {
  background-color: #d48285;
  flex-grow: 1;
}

.order-info-description {
  flex-grow: 1;
  background-color: rgb(82, 131, 115);
} */

.order-info-logo {
  width: 100%;
  padding: 4rem;
}

.order-info-logo-box {
  grid-area: logo;
  /* background-color: bisque; */
}

.delivery-date-description {
  grid-area: date-text;
  align-self: center;
  /* background-color: #d48285; */
}

.delivery-date-box {
  grid-area: date-info;
  background-color: white;
  border-radius: 2rem;
  margin: 0.5rem;
  display: grid;
}

.delivery-date-text {
  align-self: center;
  /* display: grid; */
}

.order-description-info {
  grid-area: order-info;
  align-self: center;
  justify-self: center;

  /* background-color: aqua; */
}

.order-info-layout {
  display: grid;
  /* background-color: #cfb7b8; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12rem 12rem;
  grid-template-areas:
    "logo date-text date-info"
    "logo order-info order-info";
}

/* ---- MENU ---- */

.menu-title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  /* background-color: rgb(129, 174, 174); */
  border: 0 solid var(--clr-text-red);
  border-bottom-width: 0.25rem;
}

.menu-title h2 {
  font-size: 3rem;
  font-weight: 100;
}

.menu-container {
  list-style: none;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;

  outline-style: solid;
  outline-width: 4rem;
  outline-offset: -3rem;
  outline-color: var(--clr-background);

  /* background-color: bisque; */
}

.menu-items {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 3rem 3rem;
  outline-style: solid;
  outline-width: 0.1rem;
  outline-offset: -0.05rem;
  outline-color: rgb(190, 190, 190);
}

.menu-items-description {
  grid-area: description;
}

.menu-items-description h4 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.menu-items-description p {
  line-height: 1.7;
}

.menu-items-description p {
  font-size: 1.4rem;
  font-weight: 200;
}

.menu-items-image {
  grid-area: image;
  /* background-color: antiquewhite; */
}

.menu-items-image-frame {
  display: flex;
  justify-content: end;
  /* align-items: end; */
}

.menu-items-image-pic {
  width: 10rem;
  height: 10rem;
  background-color: green;
  border-radius: 1rem;
}

.menu-items-price {
  grid-area: price;
  font-size: 2rem;
  font-weight: 200;
  display: flex;
  align-items: center;
}

.menu-items-addbtn {
  grid-area: button;
  display: flex;
  justify-content: end;
  align-items: center;
}

.addbtn-frame {
  /* background-color: #cfb7b8; */
  padding: 0.4rem 4rem;
  border-radius: 15px;
  border: 1.5px solid var(--clr-text-red);
}
.addbtn-text {
  font-size: 1.4rem;
  font-weight: 200;
}

.menu-items-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 11rem 3rem;
  grid-template-areas:
    "description description image"
    "price price button";
}

/* .test-1 {
  background-color: aqua;
}
.test-2 {
  background-color: aquamarine;
}
.test-3 {
  background-color: rgb(230, 146, 43);
}
.test-4 {
  background-color: purple;
} */

/* --- SUBTOTAL CHECKOUT --- */

.subtotal-checkout-layout {
  display: flex;
  /* justify-content: space-around; */
  margin: 3rem 3rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  /* width: 100%; */
}

.subtotal-all-items {
  grid-area: all-items;
}
.subtotal-each-price {
  grid-area: price;
}
.subtotal-each-items {
  grid-area: each-items;
}

.subtotal-frame {
  flex-grow: 1;
  flex-basis: 50%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "all-items all-items all-items price"
    "each-items each-items each-items each-items";
}

.checkoutbtn-frame {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutbtn {
  background-color: #f5c8c9;
  padding: 1.2rem 13rem;
  border-radius: 3rem;
  border: solid 0.2rem var(--clr-text-red);

  font-size: 2rem;
  font-weight: 300;
}
