<section class="admin-general-modals">
  <div class="admin-menu-items-modal-container modal-display" id="popup-modal">
    <div class="admin-menu-items-modal-content">

      <form method="post" action="/admin/general_add_menu">
        <div class="admin-menu-number"></div>
        <div class="admin-menu-item">
          <div class="admin-menu-item-name">
            <input type="text" class="admin-menu-item-name" name="name" placeholder="name">
          </div>
          <div class="admin-menu-item-description">
            <textarea class="admin-menu-item-description" name="description" placeholder="description"></textarea>
          </div>
          <div class="admin-menu-item-price-number">
            <div class="admin-menu-item-price">
              <input type="text" class="admin-menu-item-price" name="price" placeholder="price">
            </div>
            <!-- <div class="admin-menu-item-number-text">menu item no.</div>
            <div class="admin-menu-item-number"></div> -->
          </div>
          <div class="admin-menu-item-image-text">Image preview:</div>
          <div class="admin-menu-item-image-frame"></div>
          <div class="admin-menu-item-buttons">
            <button onclick="toggle_visibility('popup-modal');" action="submit" class="admin-menu-item-edit-btn">
              Save
            </button>

            <a class="admin-menu-item-delete-btn" onclick="toggle_visibility('popup-modal');">Cancel</a>


          </div>
          <div class="admin-menu-item-image-upload">
            <button class="admin-menu-item-image-upload-btn">
              Upload new image
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div style="display: hidden;" class="admin-menu-items-modal-container edit-modal-display" id="edit_modal">
    <div class="admin-menu-items-modal-content">

      <div class="update_form_container" id="update_form_container">
        <form method="post" action="/admin/general_edit_menu" name="update_form_name">
          <div class="admin-menu-number"></div>
          <div class="admin-menu-item">
            <div class="admin-menu-item-name">
              <input type="text" class="admin-menu-item-name" id="edit_item_name" name="name" value="text">
            </div>
            <div class="admin-menu-item-description">
              <textarea class="admin-menu-item-description" id="edit_item_description" name="description"></textarea>
            </div>
            <div class="admin-menu-item-price-number">
              <div class="admin-menu-item-price">
                <input type="text" class="admin-menu-item-price" id="edit_item_price" name="price" value="number">
              </div>
              <!-- <div class="admin-menu-item-number-text">menu item no.</div>
              <div class="admin-menu-item-number">TEXT</div> -->
            </div>
            <div class="admin-menu-item-image-text">Image preview:</div>
            <div class="admin-menu-item-image-frame"></div>
            <div class="admin-menu-item-buttons">
              <button action="submit" class="admin-menu-item-edit-btn">
                Save
              </button>
              <a class="admin-menu-item-delete-btn" onclick="close_editModal();">Cancel</a>
              <!-- <button class="admin-menu-item-delete-btn">Delete</button> -->
            </div>
            <div class="admin-menu-item-image-upload">


              <!-- <button class="admin-menu-item-image-upload-btn">
                Upload new image
              </button> -->
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>


  <div class="admin-store-status-modal-container" id="edit_store_status_modal">
    <div class="admin-store-status-modal-content">
      <form method="post" action="/admin/general_update_store_status">
        <div class="admin-store-status-update-form">
          <div class="store-status-layout-1">Is the store open?</div>
          <select class="store-status-layout-2" name="store_status_option" id="store_status_option">
            <option value="open">Yes</option>
            <option value="closed">No</option>
          </select>
          <div class="store-status-layout-3">Open date:</div>
          <input class="store-status-layout-4" type="text" id="store_date_input" value="<%= storeStatusDate %>" name="store_status_date">
          <button action="submit" class="store-status-layout-5">Update</button>
          <a onclick="close_editStoreStatusModal()" class="store-status-layout-6">Cancel</a>
        </div>

        <div id="store_date_option_container" class="admin-store-status-date-options">
          <div class="date-options-text">If open, please enter the date options: </div>
          <div id="date_options_input_values">
            <% orderDates.forEach((info) => { %>
            <input type="hidden" value="<%= info.order_dates %>" name="open_date_option">
            <% }) %>
          </div>
          <select id="date_options" class="view-date-options" type="text" value="<%= storeStatusDate %>">
            <option selected value="">click to see dates</option>

            <% orderDates.forEach((info) => { %>
            <option value=""><%= info.order_dates %></option>
            <% }) %>

          </select>

          <input id='input_date_options' class="input-date-options" type="text">

          <a onclick="addDateOption()" class="store-status-layout-6">Add</a>
          <a onclick="resetDateOptions()" class="store-status-layout-6">Reset</a>

        </div>



      </form>


    </div>
  </div>


</section>