<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="/../css/style.css" />

  <title>Cheatday</title>
</head>

<body>

  <div class="admin-login-container">

    <div class="admin-login-form-error">
      <form class="admin-login-form" action="/admin/register" method="post">
        <input type="text" id="admin_user" name="admin_user" placeholder="username">
        <input type="text" id="admin_password" name="admin_password" placeholder="password">
        <input class="admin-login-button" type="submit" value="Register">
      </form>
      <div class="admin-error-messages">
        <ul>
          <% if (typeof errors != 'undefined') { %>
          <% errors.forEach(error => { %>
          <li><%= error.message %></li>
          <% }) %>
          <% } %>

        </ul>
      </div>
    </div>
  </div>
  </div>


  <script src="/../js/script.js"></script>


</body>

</html>