<%- include("partials/order-header") %>

<div class="container">

  <h1>Thanks for the order! You'll receive an email shortly confirming your order request. We will reach out soon regarding the payment information once we reviewed your order. </h1>
</div>



<%- include("partials/order-footer") %>