<%- include("partials/order-header") %>

<div class="container">
  <div class="order-confirmation-message">
    <span>Hooray!</span>

    <div class="order-confirmation-message-text">
      We're so excited to make donuts for you. We'll be in touch soon to confirm your order, and also to provide payment information. Stay tuned!
    </div>

    <a href="/order">Back to menu</a>
  </div>
</div>



<%- include("partials/order-footer") %>